go 1.24.0

use (
	./services/alert-engine
	./services/auth-service
	./services/control-plane
	./services/data-plane
	./services/query-service
	./services/shared/auth
	./services/tenant-service
	./services/topology-engine
)

replace (
	cloud-flow/services/proto => ../../proto
	cloud-flow/pkg => ../../../pkg
)
